.services {
  display: flex;
  align-items: center;

  background-color: #0d0d4a;
}
.services-info {
  width: 50%;
  padding: 50px;
}
.services-info button{
    width: 120px;
    border-radius: 20px;
    margin-top: 10px;
}
.services-info h4 {
  color: #ed2d74;
  margin: 30px 0;
}
.services-info h1 {
  font-size: 70px;
}

.services-info{
  color: white;
}
.services-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}
@media screen and (max-width: 768px) {
  .services{
    flex-direction: column;
  }
  .services-info {
    width: 100%;
    padding: 70px 20px;
  }
  .services-info h1 {
    font-size: 50px;
  }
  .services-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4px 0;
  }
  
}