.btn-github-login{
    border: 0;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background: rgb(28, 28, 48);
}
@media screen and (max-width: 768px) {
    .btn-github-login{
        font-size: 12px;
    padding: 10px 8px;

    }
}