@media screen and (max-width: 576px) {
    .login{
        margin: 20px;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px){
    .login{
        margin: 50px;
    }
}
@media screen and (min-width: 769px){
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-container{
        width: 50%;
    }
}